/*  reset */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button,
input {
  /* display: block; */
  font-size: 1rem;
  cursor: pointer;
}
